$main-font: "Roboto", arial, helvetica, sans-serif;
$title-font: "Raleway", arial, helvetica, sans-serif;


$main-color: #69C0AC;
$text-color: #5D5D5D;


// CARRERAS
$frontend: #528ac8;
$frontend_dark: darken($frontend, 20%);

$fullstack: #6cc1b1;
$fullstack_dark: darken($fullstack, 20%);

$movil: #b8d484;
$movil_dark: darken($movil, 20%);

$diseno: #f8b672;
$diseno_dark: darken($diseno, 20%);

$marketing: #f08488;
$marketing_dark: darken($marketing, 20%);

$wordpress: #BB7CB3;
$wordpress_dark: darken($wordpress, 20%);


// CURSOS
$disenador-web: #222;
$disenador-web_dark: darken($disenador-web, 20%);

$programador-web: #333;
$programador-web_dark: darken($programador-web, 20%);

$curso-frontend: #444;
$curso-frontend_dark: darken($curso-frontend, 20%);

$curso-fullstack: #555;
$curso-fullstack_dark: darken($curso-fullstack, 20%);

$curso-movil: #666;
$curso-movil_dark: darken($curso-movil, 20%);

$marketing1: #777;
$marketing1_dark: darken($marketing1, 20%);

$marketing2: #888;
$marketing2_dark: darken($marketing2, 20%);

$wordpress1: #999;
$wordpress1_dark: darken($wordpress1, 20%);

$wordpress2: #aaa;
$wordpress2_dark: darken($wordpress2, 20%);



 $cta: #ff304b;
 $cta_dark: darken($cta,20%);


$facebook:rgb(44,67,136);
$twitter:rgb(66,152,237);
$pinterest:rgb(192,0,64);
$instagram:rgb(18,86,136);
$github:rgb(0,0,0);