@import "vars";
@import "navbar";
@import "video";
@import "header";
@import "newsletter";
@import "footer";

@import "carreras";
@import "cursos";
@import "workshops";
@import "workshop";
@import "empresas";
@import "certificados";
@import "cursos2";


body,html{
	height: 100%;
}

body{
	color: $text-color;
}

h1,h2,h3,h4,h5,h6{
	font-family: $title-font;
}

p, a, li, address{
	font-family: $main-font;
	font-weight: 300;
	line-height: 22px;
}

h1{
	font-weight: 700;
}


.vertical-flex{
	display: flex;
	align-items: center;
}

section{
	h1.title{
		margin-bottom: 50px;
		font-size: 30px;
		text-transform: uppercase;
		@media (max-width: 768px){
			text-align: center;
		}
	}
}


#cursos, #workshops, #carreras{
	padding: 80px 0;
}

@mixin modulo-carrera($color){
	background: #F9F9F9;
	margin-bottom: 30px;
	max-width: 360px;
	margin: 15px auto;
	border: 1px solid #EEE;
	header{
		padding: 30px 20px;
		background: $color;
		h1{
			font-size: 24px;
			color: white;
			font-weight: 400;
		}
		p{
			color: white;
		}
	}		
	.contenido{
		padding: 20px;
		a{	
			margin-top: 30px;
			font-family: $title-font;
			color: $color;
			display: inline-block;
		}
		ul{
			list-style: none;
			padding: 0;
			li{
				article{
					overflow: auto;
					margin-bottom: 15px;
					div{
						float: left;
						&.icon{
							margin-right: 10px;
							span{
								width: 50px;
								height: 50px;
								border-radius: 50%;
								background: $main-color;
								display: block;
								text-align: center;
								padding-top: 8px;
								img{
									max-width: 32px;
								}

								&.lvl1{
									background: lighten($main-color,20%);	
								}
								&.lvl2{
									background: lighten($main-color,10%);	
								}
							}
						}
					}

					h3{
						font-size: 17px;
    					margin: 0;
					}
					h5{
						font-family: $main-font;
						font-size: 12px;
						font-weight: 300;
						margin: 3px;
					}
				}
			}
		}
	}
}



.carrera-modulo{
	&.frontend{
		@include modulo-carrera($frontend);
	}
	&.fullstack{
		@include modulo-carrera($fullstack);
	}
	&.movil{
		@include modulo-carrera($movil);
	}
	&.marketing{
		@include modulo-carrera($marketing);
	}
	&.diseno{
		@include modulo-carrera($diseno);
	}
	&.wordpress{
		@include modulo-carrera($wordpress);
	}
}


@mixin modulo-curso($color){
	margin-bottom:50px;
	.icon{
		float: left;
		margin-right: 20px;
		.circle{
			max-width: 100px;
			border-radius: 50%;
			padding: 20px;
			transition: 0.5s;
			float: right;
			background: $color;
			img{
				max-width: 100%;
			}
		}
	}
	.contenido{
		h1{
			font-weight: 400;
			margin: 0;
			margin-bottom:5px; 
			font-size: 20px;
			color: $color;
			strong{
				font-weight: 700;
			}

			@media screen and (max-width:400px){
				font-size: 20px;
				margin-bottom: 0;
			}
		}

		p{
			margin: 0;
		}

		a{
			font-family: $title-font;
			color: $color;
			display: inline-block;
			margin-top: 10px;
			&:hover{
				color: $color;
			}
		}	
	}
		
	
}


.curso-modulo{
	&.nivel1{
		@include modulo-curso(#999);
	}
	&.nivel2{
		@include modulo-curso(#666);
	}
	&.movil{
		@include modulo-curso($movil);
	}
	&.marketing{
		@include modulo-curso($marketing);
	}
	&.diseno{
		@include modulo-curso($diseno);
	}
	&.wordpress{
		@include modulo-curso($wordpress);
	}
}




.workshop-modulo{
	margin-bottom:50px;

	.icon{	
		.circle{
			border-radius: 10px;
		}
	}
}


.overlay{
	background: rgba(0,0,0,0.5);
}

#porque{ 	
	text-align: center;
	padding: 80px 0;
	.col-md-4{
		padding:0 30px;
		min-height: 450px;
		position: relative;
		.card{
			background:white;
			box-shadow: 10px 5px 25px rgba(0,0,0,0.5);
			padding: 20px;
			header{
				background-size:cover;
				margin-bottom: 15px;
				.overlay{
					padding:15px 30px;
					h2{
						font-size: 25px;
						text-transform: uppercase;
						font-weight: 300;
						margin-bottom: 20px;
						color: white;
						text-align: center;
					}
				}
			}
			.contenido{
				min-height: 200px;
				padding: 0 15px;
			}
			a{
				color: $cta;
				&:hover{
					color: $cta-dark;
				}
			} 
		}
	}
}


#home-testimonios{
	background-size:cover;
	padding: 50px 0;
	h1.title{
		@media (max-width:992px){
			text-align: center;
		}
	}
	
	.overlay{ 
		
	}

	.vermas{
		color: $cta;
		border-color: $cta;
		margin-top: 30px;
		background: white;
		position: relative;
	}

	.un-testimonio{
		box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
		padding: 20px;
		background: white;
		margin: 15px auto;

		a{
			margin-top: 20px;
			color: $cta;
			&:hover{
				color: $cta-dark;
			}
		} 

		@media (max-width:992px){
			max-width: 350px;
		}

		.foto{
			&:after{
				content: "“";
			    font-size: 80px;
			    background: $main-color;
			    color: white;
			    display: inline-block;
			    width: 60px;
			    position: absolute;
			    height: 60px;
			    text-align: center;
			    right: 0;
			    top: 70px;
			    border-radius: 50%;
			    line-height: 93px;

			    @media (max-width:1200px) and (min-width:992px){
				    font-size: 60px;
				    width: 40px;
				    height: 40px;
				    top: 50px;
				    line-height: 65px;
			    }

			    @media (max-width:350px){
				    font-size: 60px;
				    width: 40px;
				    height: 40px;
				    right: 10px;
				    top: 60px;
				    line-height: 65px;
			    }     
			}
		}
	}
}


.btn{
	color: white;
	border: 1px solid white;
	transition: 1s;
	&:hover{
		color: $cta;
		background: white;
	}
}

.btn-primary{
	background-color: $cta;
	border:none;
	border-bottom: 3px solid $cta-dark;
	transition:0.5s;
	&:hover{
		background-color: $cta-dark;
		border-bottom: 3px solid $cta-dark;
		color: white;
	}
}



.mas-info{
	h2{
		font-size: 22px;
		max-width: 600px;
		margin: auto;
		margin-top: 20px;
	}
	form{
		input{
			max-width: 300px;
		    padding: 30px;
		    margin-bottom: 10px;
		    font-family: roboto;
		    font-size: 16px !important;
		    font-weight: 300;
		    margin: 0 auto 20px auto;
		    border: none !important;
		} 
		input[type=submit]{
			padding: 20px 30px;
			margin-bottom: 0;
			border-radius: 4px;
			left: 0;
			width: 300px;
			margin-top: 10px;
		}
	}
}
